div#menuItems {
    display: flex;
    gap: 8px;
}

div#menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

div#body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

div#content {
    display: flex;
    justify-content: center;
    align-items: center;
}

div#inputTimer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 32px;
    gap: 12px;
}

p.clockOverlay {
    text-align: center;
}

p#time {
    font-size: 52px;
}

p#date {
    font-size: 24px;
}

button {
    width: 100px;
}

input.timer {
    width: 48px;
}