/*---font---*/

/*--div---*/
div#menu_items {
    display: flex;
    gap: 8px;
}

div#menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

div#body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div#content {
    display: flex;
    justify-content: center;
    align-items: center;
}

div#input_timer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 32px;
    gap: 12px;
}

/*---img---*/

/*---text---*/
p.clock_overlay {
    text-align: center;
}

p#time {
    font-size: 52px;
}

p#date {
    font-size: 24px;
}

/*---btn---*/
button {
    width: 100px;
}

/*---input---*/
input.timer {
    width: 48px;
}

/*---media---*/
@media (max-width: 700px){

}